<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
	 <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js"></script>
	<script src = "/javascripts/countChildren.js" ></script>
	<script src = "/javascripts/drawTree.js" ></script>

  </head>
  <body>
    <div class="headerTittle">
		<h1>
			Taxonomy Visualizer
		</h1>
		
    </div>
		<div id="sketch-holder">
		<!-- Our sketch will go here! -->
		</div>
		 
	</div>
	</div>
	<footer class = "footerText">
		<p>
		this page allows the  visualization of hierarchys as indented trees
		</p> 
	</footer>
  </body>
</html>
